apiVersion: v1
kind: ConfigMap
metadata:
  name: ixiatg-release-config
  namespace: ixiatg-op-system
data:
  versions: |
    {
      "release": "local-latest",
      "images": [
            {
                "name": "controller",
                "path": "us-central1-docker.pkg.dev/kt-nts-athena-dev/keysight/ixia-c-controller",
                "tag": "IXIA_C_CONTROLLER_VERSION"
            },
            {
                "name": "gnmi-server",
                "path": "us-central1-docker.pkg.dev/kt-nts-athena-dev/keysight/ixia-c-gnmi-server",
                "tag": "IXIA_C_GNMI_SERVER_VERSION"
            },
            {
                "name": "grpc-server",
                "path": "us-central1-docker.pkg.dev/kt-nts-athena-dev/keysight/ixia-c-grpc-server",
                "tag": "IXIA_C_GRPC_SERVER_VERSION"
            },
            {
                "name": "traffic-engine",
                "path": "us-central1-docker.pkg.dev/kt-nts-athena-dev/keysight/ixia-c-traffic-engine",
                "tag": "IXIA_C_TRAFFIC_ENGINE_VERSION"
            },
            {
                "name": "protocol-engine",
                "path": "us-central1-docker.pkg.dev/kt-nts-athena-dev/keysight/ixia-c-protocol-engine",
                "tag": "IXIA_C_PROTOCOL_ENGINE_VERSION"
            }
        ]
    }

